h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  position: relative;
 
  // &::after {
  //   content: "";
  //   display: block;
  //   border: 1px solid yellow;
  //   position: absolute;
  //   width: 15%;
  //   height: 3px;
  //   bottom: -18;
  // }
}

.row {
    margin-top: 10px;
    .box {
      height: 200px;
      border: 1px dashed #000;
      background-color: #fff27f;
      background-position: center;
      background-size: cover;
      transition: 1s;
      h3 {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 26px;
        color: #fff;
      }

      &:hover {
        animation: rotation 1s linear;
        background-image: url(../images/minion1.png);
        background-size: cover;
        background-position: center;
        background-size: cover;
        display: flex;
        h3 {
          display: none;
        }
      }
    }
    .box:nth-child(even) {
      background-color: #70e7a6;
      &:hover {
        background-image: url(../images/minion2.png);
      }
    }
  }



@keyframes rotation {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  0% {
    transform: rotateX(0deg);
  }
}
