.minions {
  margin-top: 60px;
  height: 100vh;
  .box {
    width: 200px;
    height: 200px;
    background-color: #7e4ab9;
    border: 1px dashed #000;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-image: url(../images/minion1.png);
      background-position: center;
      background-size: cover;
    }
    &:hover span {
      display: none;
    }
    span {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #fff;
      font-size: 20px;
    }
  }
}

